@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  color-scheme: dark;
  margin: 0;
  padding: 0;
}
.global-padding{
  @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-24;
}
.forward{
  @apply z-[9999];
}